# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# macOS system files
.DS_Store

# VSCode settings
.vscode/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# Environment variables
*.env

# MyPy and other tooling
.mypy_cache/
.DS_Store
